* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}


/*-------------------------VERSIÓN MÓVIL------------------------*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(41, 133, 36);
}

header div {
    flex: 1;
    margin: 1%;
}

#nombre_empresa {
    flex: 30%;
}

#logo_empresa {
    width: 5vh;
    padding: 1%;
}

#titular_web {
    font-size: 4vh;
    font-weight: 900;
}

#bars {
    margin-left: auto;
    cursor: pointer;
    width: 20pt;
    height: 20pt;
}

#logo_usuario {
    padding: 3%;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
}

header div {
    display: flex;
}

#cabecera_lista {
    display: none;
    order: 5;
    flex: 100%;
    background-color: green;
}

#menu_cabecera {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#menu_cabecera div {
    margin: 2%;
    padding: 3%;
    border-bottom: 1px solid white;
}

#menu_cabecera a {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: larger;
}

#form_inicio {
    display: flex;
    flex-direction: column;
}

.campos_busqueda {
    display: flex;
    flex-direction: column;
}

.campos_busqueda div {
    padding: 1.4%;
}

.campos_busqueda input,
select {
    width: 80%;
    border: 2px solid #78ed99;
    color: rgb(2, 85, 2);
    border-radius: 6px;
}

div>label {
    color: green;
    font-weight: bolder;
}

#div_btn_filt {
    display: flex;
    margin: 5%;
}

#btn_filtrar {
    background: green;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid rgb(0, 5, 0);
    text-decoration: none;
    margin: 0 auto;
    border-radius: 6px;
    width: 20vh;
    padding: 2%;
    box-shadow: 0 0 4px;
}

#anuncios {
    display: flex;
    flex-direction: column;
}

#anuncios h2 {
    text-align: center;
    border-bottom: 1px solid green;
    margin-bottom: 0;
}

#tipos_mascota {
    display: flex;
    flex-direction: row;
}

#tipos_mascota div {
    margin: 2% auto;
}

#tipos_mascota div button {
    background: transparent;
    cursor: pointer;
    border: none;
}

#contenido_anuncios {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 80vh;
}

#contenido_anuncios article {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    padding: 5%;
}

.img_anuncio {
    margin: 0 auto;
}

.img_anuncio img {
    width: 100%;
}

#contenido_anuncios table {
    width: 100%;
}

#contenido_anuncios table th {
    background-color: #78ed99;
    color: black;
}

#contenido_anuncios table td {
    background-color: #c7e6d0;
    color: black;
}


/*
#menu_cabecera {
    display: none;
}
header {
    display: flex;
    flex-direction: row;
}

#logo_empresa {
    width: 10vh;
}

#nombre_empresa {
    display: flex;
    flex-direction: row;
}
*/